.post-read {
  width: 80%;
  max-width: 820px;
  padding: 1rem;
  margin: 0 auto;
}

.post {
  border-bottom: 1px solid #ccc;
  padding: 1rem;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .avatar {
      margin-right: 1rem;
    }
  }

  &__author {
    margin-right: 1rem;
  }
}

.post-comments {
  &__comment {
    margin-bottom: 2rem;
  }

  &__comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .avatar {
      margin-right: 1rem;
    }
  }

  &__comment-body {
    padding-left: 1rem;
  }
}