.post-list {
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
  
  .post-card {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__add-more {
    position: -webkit-sticky;
    position: sticky;
    bottom: 50px;
    /* right: 50px; */
    left: 90%;
    z-index: 9999;
    cursor: pointer;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 23%), 0 3px 10px rgb(0 0 0 / 16%);
    outline: 0 !important;
    color: #fff;
    border-radius: 100%;
    font-size: 26px;
    height: 56px;
    line-height: 26px;
    width: 56px;
    text-align: center;
    padding: 15px;
    background: linear-gradient(334deg, #8a8a8a, #c2bebe);
  }
}